## Pandas

In [2]:
import pandas as pd
import numpy as np

In [14]:
# Read data from csv file
df = pd.read_csv("Student_Data.csv", delimiter='|')

In [15]:
df

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4
0,1001,Luke,Luke,Porter,Baxley,Q1001,01/02/1998,lpb@myUniversity.com,780-883-7269,"222 Lakeshore Drive<br>Abilene, TX 12345",404-925-4456,NaN,325-204-5929,Fischer West - Room W105,Campus Mail - Box 1001
1,1002,Marnie,Marnie,Gayle,Lemmons,Q1002,11/07/1998,mgl@myUniversity.com,826-443-7227,"610 Spring Creek Drive<br>Waynesburg, PA 12345",819-724-9241,NaN,724-802-0816,Chase Hall - Room 129,Campus Mail - Box 1013
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003
3,1004,Lucy,Lucy,Belle,Blakeslee,Q1004,03/02/2000,lbb@myUniversity.com,956-277-5715,787 Ruth Street<br> Springfield TN 67890,827-308-2391,NaN,615-384-7495,Fischer East - Room E219,Campus Mail - Box 1004
4,1005,Chelsea,Chelsea,Savannah,Vlassman,Q1005,01/24/1997,scv@myUniversity.com,716-713-9011,"461 Lakeshore Drive<br>Abilene, TX 12345",431-594-8175,NaN,325-669-5766,Chase Hall - Room 167,Campus Mail - Box 1005
5,1006,Kelly,Kelly,Marilyn,Hudson,Q1006,01/25/1999,mkh@myUniversity.com,775-553-2558,744 Ruth Street<br> Springfield TN 67890,646-431-2608,"1006 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1006
6,1007,Todd,Todd,Washington,Robertson,Q1007,01/21/1997,gtw@myUniversity.com,279-705-3782,"832 Lakeshore Drive<br>Abilene, TX 12345",786-200-2974,"1007 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1007
7,1008,Kirk,Kirk,Jeremy,Mitchell,Q1008,01/20/1997,jkm@myUniversity.com,937-857-9883,793 Ruth Street<br> Springfield TN 67890,961-413-7600,"1008 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1008
8,1009,Suzanne,Suzanne,Kathleen,Dunn,Q1009,11/20/1997,ksd@myUniversity.com,985-677-7127,"587 Lakeshore Drive<br>Abilene, TX 12345",535-429-1584,NaN,325-370-2043,Chase Hall - Room 255,Campus Mail - Box 1009

In [7]:
df.to_csv("filtered_students.csv")

In [16]:
# Dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Student ID      9 non-null      int64
 1   Preferred Name  9 non-null      object
 2   First Name      9 non-null      object
 3   Middle Name     9 non-null      object
 4   Last Name       9 non-null      object
 5   Secondary ID    9 non-null      object
 6   Date of Birth   9 non-null      object
 7   E-mail Address  9 non-null      object
 8   Phone 1         9 non-null      object
 9   Address 1       9 non-null      object
 10  Phone 2         9 non-null      object
 11  Address 2       3 non-null      object
 12  Phone 3         6 non-null      object
 13  Address 3       6 non-null      object
 14  Address 4       9 non-null      object
dtypes: int64(1), object(14)
memory usage: 1.2+ KB

In [17]:
df[['First Name', 'Phone 1']]

  First Name       Phone 1
0       Luke  780-883-7269
1     Marnie  826-443-7227
2       Anne  759-315-2580
3       Lucy  956-277-5715
4    Chelsea  716-713-9011
5      Kelly  775-553-2558
6       Todd  279-705-3782
7       Kirk  937-857-9883
8    Suzanne  985-677-7127

In [19]:
# head
df.head(3)

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4
0,1001,Luke,Luke,Porter,Baxley,Q1001,01/02/1998,lpb@myUniversity.com,780-883-7269,"222 Lakeshore Drive<br>Abilene, TX 12345",404-925-4456,NaN,325-204-5929,Fischer West - Room W105,Campus Mail - Box 1001
1,1002,Marnie,Marnie,Gayle,Lemmons,Q1002,11/07/1998,mgl@myUniversity.com,826-443-7227,"610 Spring Creek Drive<br>Waynesburg, PA 12345",819-724-9241,NaN,724-802-0816,Chase Hall - Room 129,Campus Mail - Box 1013
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003

In [20]:
# tail
df.tail(3)

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4
6,1007,Todd,Todd,Washington,Robertson,Q1007,01/21/1997,gtw@myUniversity.com,279-705-3782,"832 Lakeshore Drive<br>Abilene, TX 12345",786-200-2974,"1007 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1007
7,1008,Kirk,Kirk,Jeremy,Mitchell,Q1008,01/20/1997,jkm@myUniversity.com,937-857-9883,793 Ruth Street<br> Springfield TN 67890,961-413-7600,"1008 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1008
8,1009,Suzanne,Suzanne,Kathleen,Dunn,Q1009,11/20/1997,ksd@myUniversity.com,985-677-7127,"587 Lakeshore Drive<br>Abilene, TX 12345",535-429-1584,NaN,325-370-2043,Chase Hall - Room 255,Campus Mail - Box 1009

In [24]:
# index
df[2:7]

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003
3,1004,Lucy,Lucy,Belle,Blakeslee,Q1004,03/02/2000,lbb@myUniversity.com,956-277-5715,787 Ruth Street<br> Springfield TN 67890,827-308-2391,NaN,615-384-7495,Fischer East - Room E219,Campus Mail - Box 1004
4,1005,Chelsea,Chelsea,Savannah,Vlassman,Q1005,01/24/1997,scv@myUniversity.com,716-713-9011,"461 Lakeshore Drive<br>Abilene, TX 12345",431-594-8175,NaN,325-669-5766,Chase Hall - Room 167,Campus Mail - Box 1005
5,1006,Kelly,Kelly,Marilyn,Hudson,Q1006,01/25/1999,mkh@myUniversity.com,775-553-2558,744 Ruth Street<br> Springfield TN 67890,646-431-2608,"1006 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1006
6,1007,Todd,Todd,Washington,Robertson,Q1007,01/21/1997,gtw@myUniversity.com,279-705-3782,"832 Lakeshore Drive<br>Abilene, TX 12345",786-200-2974,"1007 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1007

In [31]:
# condition
new_df = df[(df['First Name'] == 'Anne') & (df['Last Name'] == 'Scott')]

In [32]:
new_df

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003

In [33]:
# add a new column
df["New column"] = df['Preferred Name']

In [34]:
df

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4,New column
0,1001,Luke,Luke,Porter,Baxley,Q1001,01/02/1998,lpb@myUniversity.com,780-883-7269,"222 Lakeshore Drive<br>Abilene, TX 12345",404-925-4456,NaN,325-204-5929,Fischer West - Room W105,Campus Mail - Box 1001,Luke
1,1002,Marnie,Marnie,Gayle,Lemmons,Q1002,11/07/1998,mgl@myUniversity.com,826-443-7227,"610 Spring Creek Drive<br>Waynesburg, PA 12345",819-724-9241,NaN,724-802-0816,Chase Hall - Room 129,Campus Mail - Box 1013,Marnie
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003,Anne
3,1004,Lucy,Lucy,Belle,Blakeslee,Q1004,03/02/2000,lbb@myUniversity.com,956-277-5715,787 Ruth Street<br> Springfield TN 67890,827-308-2391,NaN,615-384-7495,Fischer East - Room E219,Campus Mail - Box 1004,Lucy
4,1005,Chelsea,Chelsea,Savannah,Vlassman,Q1005,01/24/1997,scv@myUniversity.com,716-713-9011,"461 Lakeshore Drive<br>Abilene, TX 12345",431-594-8175,NaN,325-669-5766,Chase Hall - Room 167,Campus Mail - Box 1005,Chelsea
5,1006,Kelly,Kelly,Marilyn,Hudson,Q1006,01/25/1999,mkh@myUniversity.com,775-553-2558,744 Ruth Street<br> Springfield TN 67890,646-431-2608,"1006 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1006,Kelly
6,1007,Todd,Todd,Washington,Robertson,Q1007,01/21/1997,gtw@myUniversity.com,279-705-3782,"832 Lakeshore Drive<br>Abilene, TX 12345",786-200-2974,"1007 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1007,Todd
7,1008,Kirk,Kirk,Jeremy,Mitchell,Q1008,01/20/1997,jkm@myUniversity.com,937-857-9883,793 Ruth Street<br> Springfield TN 67890,961-413-7600,"1008 College Drive<br>Abilene, TX 12345",NaN,NaN,Campus Mail - Box 1008,Kirk
8,1009,Suzanne,Suzanne,Kathleen,Dunn,Q1009,11/20/1997,ksd@myUniversity.com,985-677-7127,"587 Lakeshore Drive<br>Abilene, TX 12345",535-429-1584,NaN,325-370-2043,Chase Hall - Room 255,Campus Mail - Box 1009,Suzanne

In [35]:
df['ID'] = np.where(df['Student ID'] % 2 == 0, 1, 0)

In [37]:
df.head(3)

,Student ID,Preferred Name,First Name,Middle Name,Last Name,Secondary ID,Date of Birth,E-mail Address,Phone 1,Address 1,Phone 2,Address 2,Phone 3,Address 3,Address 4,New column,ID
0,1001,Luke,Luke,Porter,Baxley,Q1001,01/02/1998,lpb@myUniversity.com,780-883-7269,"222 Lakeshore Drive<br>Abilene, TX 12345",404-925-4456,NaN,325-204-5929,Fischer West - Room W105,Campus Mail - Box 1001,Luke,0
1,1002,Marnie,Marnie,Gayle,Lemmons,Q1002,11/07/1998,mgl@myUniversity.com,826-443-7227,"610 Spring Creek Drive<br>Waynesburg, PA 12345",819-724-9241,NaN,724-802-0816,Chase Hall - Room 129,Campus Mail - Box 1013,Marnie,1
2,1003,Anne,Anne,Faith,Scott,Q1003,02/02/1997,afs@myUniversity.com,759-315-2580,"871 Lakeshore Drive<br>Abilene, TX 12345",114-876-8220,NaN,325-674-2993,Fischer East - Room E165,Campus Mail - Box 1003,Anne,0